[Unit]
Description=Genuine Analytics Gunicorn
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/wedding_page
ExecStart=/home/ubuntu/wedding_page/venv/bin/gunicorn \
    weddingsite.wsgi:application \
    --bind 127.0.0.1:8000 \
    --workers 3 \
    --timeout 60 \
    --access-logfile /var/log/gunicorn/wedding_page_access.log \
    --error-logfile /var/log/gunicorn/wedding_page_error.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
